<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <!-- <link rel="stylesheet" type="text/css" href="/todo/css/base.css" /> -->
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <!-- href="{{ url_for('static', path='/todo/css/base.css') }}" -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <!-- href="{{ url_for('static', path='/todo/css/bootstrap.css') }}" -->
    <title>Todo App</title>
  </head>
  <body>
    {% include 'navbar.html' %} {% block content %} {% endblock %}

    <!-- <script src="{{ url_for('static', path='/todo/js/jquery-slim.js') }}"></script>
    <script src="{{ url_for('static', path='/todo/js/popper.js') }}"></script>
    <script src="{{ url_for('static', path='/todo/js/bootstrap.js') }}"></script> -->
    <script src="/todo/js/jquery-slim.js"></script>
    <script src="/todo/js/popper.js"></script>
    <script src="/todo/js/bootstrap.js"></script>
  </body>
</html>
